Source: mouse-speed
Section: x11
Priority: optional
Maintainer: Ruben Barkow <ubuntu@spacetrace.org>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: https://github.com/rubo77/mouse-speed
#Vcs-Git: git://git.debian.org/collab-maint/mouse-speed.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/mouse-speed.git;a=summary

Package: mouse-speed
Architecture: all
Depends: ${misc:Depends}
Description: Bash script to increase or decrease the speed of your mouse and touchpad

