Section: x11
Priority: optional
Installed-Size: 7062
Maintainer: Ruben Barkow <ubuntu@spacetrace.org>
Version: 1.4
Homepage: https://github.com/rubo77/mouse-speed

Package: mouse-speed
Architecture: all 
Depends: xserver-xorg (>= 0.1), bc (>= 0.1)
Description: Bash script to increase or decrease the speed of your mouse and touchpad

