Package: mouse-speed
Version: 1.4-1
Architecture: all
Maintainer: Ruben Barkow <ubuntu@spacetrace.org>
Installed-Size: 37
Section: x11
Priority: optional
Homepage: https://github.com/rubo77/mouse-speed
Description: Bash script to increase or decrease the speed of your mouse and touchpad
 This script can be used to control the mouse-speed from the commandline.
 For example this is especially useful in RSIBreak:
 https://apps.ubuntu.com/cat/applications/precise/rsibreak/
 you can set this program, to start, when a microbreak starts
 and with another option to reset to default speed only when a micro-break
 successfully ends.
 If you disable the "skip" button in RSIBreak preferences, then the only
 solution for you to continue working without taking the break would be to
 postpone the break, which would not trigger the end-event, that only fires,
 if the microbreak ends.
