Package: mouse-speed
Version: 1.4-1
Architecture: all
Maintainer: Ruben Barkow <ubuntu@spacetrace.org>
Installed-Size: 37
Section: unknown
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
